<footer class="site-footer">
    <div class="footer-content">
        
        <div class="footer-brand-col">
            <a href="#" class="footer-logo">
                <img src="/asset/images/Frame 2147227578.png" alt="Icon" class="f-logo-icon">
            </a>
            <p class="footer-desc">
                Making travel accessible, predictable and safe for people with disabilities worldwide. 
                Built with real experiences. Verified by the community.
            </p>
        </div>

        <div class="footer-col">
            <h4><a href="/pages/index.html#explore">Explore</a></h4>
            <a href="#">Search Destinations</a>
            <a href="#">Trip Planner</a>
            <a href="#">Transportation</a>
            <a href="#">Attractions & Experiences</a>
            <a href="#">Accessible Hotels</a>
        </div>

        <div class="footer-col">
            <h4><a href="/pages/index.html#resources">Resources</a></h4>
            <a href="#">Accessibility Guides</a>
            <a href="#">Travel Tips</a>
            <a href="#">Disability Etiquette Guide</a>
            <a href="#">Accessibility Standards</a>
        </div>

        <div class="footer-col">
            <h4><a href="/pages/index.html#about">About Us</a></h4>
            <a href="#">Company</a>
            <a href="#">Contact</a>
            <a href="#">Partners</a>
            <a href="#">Accessibility Statement</a>
        </div>

        <div class="footer-col">
            <h4><a href="#">Legal</a></h4>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
            
            <div class="social-icons">
                <a href="#"><img src="/asset/images/twitter.png" alt="Twitter"></a>
                <a href="#"><img src="/asset/images/instagram.png" alt="Instagram"></a>
                <a href="#"><img src="/asset/images/g-mail.png" alt="Email"></a>
            </div>
        </div>

    </div>

    <div class="copyright">
        © 2025 AccessTravel. All rights reserved.
    </div>
</footer>