<nav class="navbar">
    <a href="/pages/index.html" class="logo">
        <img src="/asset/images/Frame 2147227578.png" alt="Icon" class="logo
        ">
    </a>
    
    <div class="menu-icon" onclick="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>

    <ul class="nav-links">
        <li><a href="/pages/index.html#explore">Explore</a></li>
        <li><a href="/pages/index.html#about">About Us</a></li>
        <li><a href="/pages/index.html#resources">Resources</a></li>
    </ul>

    <div class="auth-buttons">
        <a href="/pages/sign-in.html" class="sign-in">Sign In</a>
        <a href="/pages/sign-up.html" class="sign-up-btn">Sign Up</a>
    </div>
</nav>